<style>
  #footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: #f5f5f5;
  }
</style>
<style>
  #copyright {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #f5f5f5;
  }
</style>
<div id="footer">
  <footer class="page-footer font-small indigo">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Account Details</a
              >
            </li>

            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Help Center</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black">Gifts</a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Audible on Alexa</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Audible Plus</a
              >
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <div class="col-md-3 mx-auto">
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >About Audible
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Careers</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Business Inquiries
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Audible in the News
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Contact Us
              </a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <div class="col-md-3 mx-auto">
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Best Sellers</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >New York Times Best Sellers
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >New Releases
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Non-English Audiobooks
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Audible Latino
              </a>
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Audible in Chinese
              </a>
            </li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <div class="col-md-3 mx-auto">
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Listening Apps</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Listen in the Car</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black"
                >Whispersync for Voice</a
              >
            </li>
            <li>
              <a href="#!" class="nav-link link-dark px-2 text-black">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="copyright">
  <div class="footer-copyright text-center">
    © Copyright 1997 - 2021 Audible, Inc |
    <a href="#" class="text-black"> Conditions of Use</a>
    |
    <a href="#" class="text-black"> Privacy Policy </a>
    |
    <a href="#" class="text-black"> Interest-Based Ads </a>
    |
    <a href="#" class="text-black"> Cookies</a>
  </div>
</div>
